@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	overflow: hidden;
    font-family: 'Nunito', 'Sans-Serif';
}

/*background default*/
#day{
	background-color: #87ceeb;
}

/*configuração dos buttons*/
.button {
    margin: 18px 0px 0px 20px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #5c4d85;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito', 'Sans-Serif';
}

.button:focus{
    outline: none;
    background-color: #e68174;
}

.button p{
    text-align: center;
    margin-top: 50px;
}

/*center*/
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

/*configuração do prédio*/
.container .predio{
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
	align-items: center;
	height: 560px;
	width: 250px;
	border: 2px solid rgb(68, 66, 66);
	background-color: rgb(153, 104, 151);
	padding: 20px;
}

/*alinhamento das janelas*/
.window{
	width: 85px;
	height: 60px;
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
	background-color: rgb(85, 85, 85);
	cursor: pointer;
}

.space{
	margin-left: 10px;
}

/*configuração da porta*/
.door{
	width: 40px;
	height: 80px;
	background-color: #8f5e1f;
	position: relative;
	bottom: -18px;
    border: 1px solid #472e0c;
    border-bottom: none;
}

/*configuração da luz*/
.light{
	background-color: #f5f57a !important;
	box-shadow: 0 0 10px #ffff40,
				0 0 15px #ffff40;
}